header {
  display: inline-flex;
  flex: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
  margin-top: 0;

  height: 48px;
  align-items: center;
  flex-direction: row;
}

.nav {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid;
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 20px;
}

.logo-sub-search {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
}

/* Logo  */

.logo {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.logo-pic {
  height: 32px;
  padding: 8px 8px 8px 0px;
  width: 32px;
}

.logo-text {
  height: 18px;
  margin-right: 20px;
  width: auto;
}

/* Sub Channels */

@media (min-width: 995px) {
  .sub-dropdown {
    width: 270px;
  }

  .active-sub {
    display: inline;
  }
}

.sub-dropdown {
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  height: 36px;
  position: relative;
}

.nav-button {
  background-color: #FFFF;
  bottom: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  height: 100%;
  left: 0;
  line-height: 34px;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 56px;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.active-sub {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

/* Account */
.account {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
}